* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a0a0a;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0a0a0a;
}

.logo {
    display: flex;
    align-items: center;
}

.brand-name {
    font-family: "Syne", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 16px;
}

.nav-links a:hover, 
.nav-links .active-link {
    color: #ffffff;
}

.btn-start {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid #2e2e2e;
}

/* Hero Section */
.header-section {
    text-align: center;
    padding: 60px 20px 20px;
}

.header-section h1 {
    font-family: "Syne", sans-serif;
    font-size: 70px;
    color: #ffffff;
}

/* Filters */
.filter-buttons {
    text-align: center;
    padding: 20px;
}

.filter-buttons button {
    background-color: #1c1c1c;
    color: #bbbbbb;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}

.filter-buttons .active-btn {
    background-color: #e84c1e;
    color: #ffffff;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-card {
    background-color: #111111;
    border-radius: 15px;
    width: 31%; 
    overflow: hidden;
    transition: 0.3s; 
}

.blog-card:hover {
    transform: translateY(-5px);
}

.image-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-text {
    padding: 20px;
}

.tag {
    background-color: #e84c1e;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}

.card-text h2 {
    font-family: "Syne", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.date {
    font-size: 14px;
    color: #6b6b6b;
}

@media (max-width: 600px) {
    .nav-links {
        display: none; 
    }
    
    .header-section h1 {
        font-size: 45px;
    }
    
}